<link rel="stylesheet" href="/public/exCGen.css" />
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<!-- LaTeX 수식 스크립트-->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
  });
</script>
<!-- LaTeX 수식 스크립트-->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML"
  async
></script>
<script type="text/javascript" src="/public/module_1.js" defer></script>
<script type="text/javascript" src="/public/exCGen.js" defer></script>
<script type="text/javascript" src="/public/heatmap.js"></script>

<!-- extended result -->
<div id="extend_result">
  <div
    class="info"
    onclick="closeResult('#extend_result')"
    style="font-size: 25px"
  >
    ×
  </div>
  <table class="table test">
    <div style="font-weight: bold">Completed sequences</div>
    <tr>
      <th>No.</th>
      <th>Seq.</th>
      <th>Length</th>
      <th>GC(%)</th>
      <th>duplex_dG</th>
    </tr>
    <tbody id="table3"></tbody>
  </table>
  <br />
  <table class="table test">
    <div style="font-weight: bold">Selected sequences</div>
    <tr>
      <th>ID</th>
      <th>Seq.</th>
      <th>Length</th>
      <th>GC(%)</th>
      <th>duplex_dG</th>
    </tr>
    <tbody id="table4"></tbody>
  </table>
</div>

<!-- tab 포멧 -->
<div class="tab_container_outer">
  <div class="tab_container">
    <ul class="tabs">
      <li class="tab-link current" data-tab="tab-1" id="one">Preset 1 ></li>
      <li class="tab-link" data-tab="tab-2" id="two">2 ></li>
      <li class="tab-link" data-tab="tab-3" id="three">3 ></li>
      <li class="tab-link" data-tab="tab-4" id="four">4.</li>
    </ul>

    <div id="tab-1" class="tab-content current">
      <!-- parameters, thresholds 설정창 1111111111111111111111111111111111111111111111111 -->
      <div class="slideGroup" id="parameters">
        <span style="font-weight: bold"> ◈ Parameters</span>

        <!-- Length -->
        <div class="grid">
          <div class="grid_sub2-1">Length <span style="float:right;font-size: 12px; padding: 5px 10px 0px 0px">(mer)</span></div>
          <div class="grid_sub1-2">
            <span
              id="min_length"
              style="
                float: left;
                font-size: 12px;
                font-weight: bold;
                color: grey;
              "
              >min</span
            >
            <span
              id="max_length"
              style="
                float: right;
                font-size: 12px;
                font-weight: bold;
                color: grey;
              "
              >max</span
            >
          </div>
          <div class="slidecontainer grid_sub2-2">
            <input
              type="range"
              min="10"
              max="100"
              value="20"
              class="slider"
              id="length"
            />
          </div>
          <div class="grid_sub2-3 output" id="val_length"></div>
        </div>

        <!-- Pairs -->
        <div class="grid">
          <div class="grid_sub2-1">Pairs</div>
          <div class="grid_sub1-2">
            <span
              id="min_pairs"
              style="
                float: left;
                font-size: 12px;
                font-weight: bold;
                color: grey;
              "
              >min</span
            >
            <span
              id="max_pairs"
              style="
                float: right;
                font-size: 12px;
                font-weight: bold;
                color: grey;
              "
              >max</span
            >
          </div>
          <div class="slidecontainer grid_sub2-2">
            <input
              type="range"
              min="2"
              max="20"
              value="5"
              class="slider"
              id="pairs"
            />
          </div>
          <div class="grid_sub2-3 output" id="val_pairs"></div>
        </div>

        <!-- GC contents -->
        <div class="grid">
          <div class="grid_sub2-1">GC ratio <span style="float:right;font-size: 12px; padding: 5px 10px 5px 0px">(%)</span></div>
          <div class="grid_sub1-2">
            <span
              style="
                float: left;
                font-size: 12px;
                font-weight: bold;
                color: grey;
              "
              >0</span
            >
            <span
              style="
                float: right;
                font-size: 12px;
                font-weight: bold;
                color: grey;
              "
              >100</span
            >
          </div>
          <div class="multi_slider_container grid_sub2-2">
            <div class="multi-range-slider">
              <!-- 진짜 슬라이더 -->
              <input
                type="range"
                id="input-left"
                min="0"
                max="100"
                value="40"
              />
              <input
                type="range"
                id="input-right"
                min="0"
                max="100"
                value="60"
              />

              <!-- 커스텀 슬라이더 -->
              <div class="multi_slider">
                <div class="track"></div>
                <div class="range"></div>
                <div class="thumb left"></div>
                <div class="thumb right"></div>
              </div>
            </div>
          </div>
          <div class="grid_sub2-3 output" id="val_GCrange"></div>
        </div>
      </div>

      <div class="slideGroup" id="thresholds">
        <span style="font-weight: bold"> ◈ Thresholds</span>
        <div class="tip">
          (?)
          <div class="tooltiptext">Remove sequence candidates that exceed the specified threshold [ΔG_nonspecific / ΔG_specific].</div>
        </div>
        <!-- hairpin dG -->
        <div class="grid">
          <div class="grid_sub2-1">$\frac{ΔGhairpin}{ΔGpair}$ <span style="float:right;font-size: 12px; margin-top: 3px; padding: 5px 10px 5px 0px">(%)</span></div>
          <div class="grid_sub1-2">
            <span
              id="min_hairpinG"
              style="
                float: left;
                font-size: 12px;
                font-weight: bold;
                color: grey;
              "
              >min</span
            >
            <span
              id="max_hairpinG"
              style="
                float: right;
                font-size: 12px;
                font-weight: bold;
                color: grey;
              "
              >max</span
            >
          </div>
          <div class="slidecontainer grid_sub2-2">
            <input
              type="range"
              min="0"
              max="80"
              value="8"
              class="slider"
              id="hairpinG"
            />
          </div>
          <div class="grid_sub2-3 output" id="val_hairpinG"></div>
        </div>
        <!-- cross dG -->
        <div class="grid">
          <div class="grid_sub2-1">$\frac{ΔGcross}{ΔGpair}$ <span style="float:right;font-size: 12px; margin-top: 3px; padding: 5px 10px 5px 0px">(%)</span></div>
          <div class="grid_sub1-2">
            <span
              id="min_crossG"
              style="
                float: left;
                font-size: 12px;
                font-weight: bold;
                color: grey;
              "
              >min</span
            >
            <span
              id="max_crossG"
              style="
                float: right;
                font-size: 12px;
                font-weight: bold;
                color: grey;
              "
              >max</span
            >
          </div>
          <div class="slidecontainer grid_sub2-2">
            <input
              type="range"
              min="10"
              max="100"
              value="25"
              class="slider"
              id="crossG"
            />
          </div>
          <div class="grid_sub2-3 output" id="val_crossG"></div>
        </div>
        <!-- cross dG -->
        <div class="grid">
          <!-- LaTeX 수식 -->
          <div class="grid_sub2-1">$\frac{ΔGselected}{ΔGpair}$ <span style="float:right; font-size: 12px; margin-top: 3px; padding: 5px 10px 5px 0px">(%)</span></div>
          <div class="grid_sub1-2">
            <span
              id="min_selectedG"
              style="
                float: left;
                font-size: 12px;
                font-weight: bold;
                color: grey;
              "
              >min</span
            >
            <span
              id="max_selectedG"
              style="
                float: right;
                font-size: 12px;
                font-weight: bold;
                color: grey;
              "
              >max</span
            >
          </div>
          <div class="slidecontainer grid_sub2-2">
            <input
              type="range"
              min="10"
              max="100"
              value="35"
              class="slider"
              id="selectedG"
            />
          </div>
          <div class="grid_sub2-3 output" id="val_selectedG"></div>
        </div>
      </div>
    </div>
    <div id="tab-2" class="tab-content">
      <!-- preset sequence, exclusive sequence 설정창 2222222222222222222222222222222222222222 -->
      <div class="slideGroup" id="preset">
        <span style="font-weight: bold"> ◈ Preset bases </span>
        <div class="tip">
          (?)
          <div class="tooltiptext">
            A : Adenine<br />
            C : Cytosine<br />
            G : Guanine<br />
            T : Thymine<br />
            R : G or A<br />
            Y : C or T<br />
            S : G or C<br />
            W : A or T<br />
            * : A or G<br />　　or C or T
          </div>
        </div>
        <!-- pre-set bases -->
        <div class="grid-wide" style="margin-top: 15px">
          <div
            class="grid_sub2-1"
            style="
              float: right;
              font-size: 12px;
              font-weight: bold;
              color: black;
            "
          >
            (+) 5'-
          </div>
          <div class="grid_sub2-2">
            <!-- <input class="seq_input" type="text" id="presetSeq" value="" /> -->
            <!-- style="resize: none; padding: 8px; margin: 20px" -->
            <textarea
              class="seq_input"
              id="presetSeq"
              value=""
              rows="1"
              name="text"
              style="resize: none"
              oninput='this.style.height=""; if (this.scrollHeight > this.clientHeight){
                  this.style.height = this.scrollHeight + "px";}'
            ></textarea>
          </div>
          <div
            class="grid_sub2-3"
            style="
              float: left;
              font-size: 12px;
              font-weight: bold;
              color: black;
            "
          >
            -3'
          </div>
        </div>
      </div>
      <div class="slideGroup" style="padding: 20px 10px 10px 10px">
        <span style="font-weight: bold"> ◈ Exclusion bases </span>
        <div class="tip">
          (?)
          <div class="tooltiptext">
            Bases that will not be included in the new sequence.
          </div>
        </div>

        <textarea
          class="seq_input seq_input_sub"
          id="avodingSeq"
          value=""
          rows="15"
          name="text"
          style="resize: none"
        ></textarea>
      </div>
    </div>
    <div id="tab-3" class="tab-content">
      <!-- selected sequence 설정창 3333333333333333333333333333333333333333333333333333333333-->
      <div class="slideGroup" style="padding: 20px 10px 10px 10px">
        <span style="font-weight: bold"> ◈ Selected sequences</span>
        <textarea
          class="seq_input seq_input_sub2"
          id="selectedSeq"
          placeholder=">ID_1_example&#13;&#10;AGTCAGTCAGTCAGTCAGTC&#13;&#10;>ID_2_example&#13;&#10;AAGGTTCCAAGGTTCC&#13;&#10;&#13;&#10;Paste your sequences as in the example above to screen for new sequences that are exclusive from them."
          rows="30"
          name="text"
          style="resize: none"
        ></textarea>
      </div>
    </div>
    <div id="tab-4" class="tab-content">
      <!-- selected sequence 설정창 3333333333333333333333333333333333333333333333333333333333-->
      <div
        class="slideGroup"
        id="preset"
        style="padding: 20px 10px 10px 10px; height: 110px"
      >
        <span style="font-weight: bold"> ◈ Operation</span>
        <div style="display: flex; padding: 10px 0px; justify-content: center">
          <button class="btn3 btn3-outline" id="run">Run</button>
          <button class="btn4 btn4-outline opBT" id="stop">Stop</button>
          <button class="btn3 btn3-outline" id="continue">Continue</button>
        </div>
      </div>
      <div
        class="slideGroup"
        id="board"
        style="padding: 20px 10px 10px 10px; height: 340px"
      >
        <span style="font-weight: bold"> ◈ Dashboard</span>
        <div id="resultBoard">
          <br />
          <li>Start : <span id="start"></span></li>
          <li>End : <span id="end"></span></li>
          <span style="color: gray">-----------------------------------</span>
          <div style="float: left">
            <li>Total</li>
            <li>Pass (with Hairpin)</li>
            <li>Pass (with Self-dimer)</li>
            <li>Pass (with Completed)</li>
            <li>Pass (with Selected)</li>
            <li>Completion</li>
          </div>
          <div style="float: right; text-align: right; list-style: none">
            <li id="total"></li>
            <li id="pass_hairpin"></li>
            <li id="pass_self-dimer"></li>
            <li id="pass_passed"></li>
            <li id="pass_selected"></li>
            <li id="completion"></li>
          </div>
        </div>
      </div>
      <span class="info" onclick="info()">About</span>
    </div>
  </div>
  <!-- result table -->
  <div class="result" id="result">
    <div class="info3" onclick="copyToClipboard('result')">Copy</div>
    <div class="info2" onclick="openResult('#extend_result')"><=></div>
    <div id="notification">✔</div>
    <table class="table test">
      <div style="font-weight: bold">Completed sequences</div>
      <tr>
        <th>No.</th>
        <th>Seq.</th>
        <th>Length</th>
        <th>GC(%)</th>
        <th>duplex_dG</th>
      </tr>
      <tbody id="table1"></tbody>
    </table>
    <br />
    <table class="table test">
      <div style="font-weight: bold">Selected sequences</div>
      <tr>
        <th>ID</th>
        <th>Seq.</th>
        <th>Length</th>
        <th>GC(%)</th>
        <th>duplex_dG</th>
      </tr>
      <tbody id="table2"></tbody>
    </table>
  </div>
</div>
<!-- tap end -->
<!-- chart area -->
<div class="chart_container_outer">
  <div class="chart_container">
    <div class="chart_containerN chart"><div id="chart_hair"></div></div>
    <div class="chart_containerW chart"><div id="chart_pairs"></div></div>
  </div>
  <div class="chart_containerS chart"><div id="chart_select"></div></div>
</div>
