<div id="wrapFooter">
  <footer>

    <p>
      <span>kkomdori@gmail.com</span><span>  |  </span><a href="https://bipyramid.tistory.com/" target="_blank">Blog</a><br />
      <span>Copyright 2023. E.K.Jang. All rights reserved.</span><br /><br />
    <span style = "margin: 0 20px"> DISCLAIMER: The software author offers no warranty for this freely available software and accepts no responsibility for any potential loss or damage resulting from its use for any purpose.<br />The exCGen process all user data locally within the browser, and no information is transmitted to the server.</span>
    </p>
  </footer>
</div>