<div class="nav_outer">
<div class="jumbotron jumbotron-fluid" style="
    height: 110px;
    padding: 12px 0;
    margin-bottom: 0px;
    background-color: rgba(255, 255, 255, 0);
  ">
<div class="nav_inner1">
    <div style="width: 84px; height: 84px; float: left">
      <a href="/"><img src="/public/bipyramid_medium.png" style="width: 100%; height: 100%; object-fit: cover" /></a>
    </div>
    <h3 class="headline" style="
        padding: 14px 0 0 0;
        font-family: 'Courier Prime', monospace;
        font-weight: bold;
        margin: 0;
      ">
      exCGen
    </h3>
    <h6>
      <p class="" style="display: inline">
        exclusive Code Generator
      </p>
    </h6>

    <span class="sr-only">(current)</span>
  </div>

</div>
</div>

<div class="jumbotron jumbotron-fluid" style="
    padding: 0 0;
    margin-bottom: 0px;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: solid #215968;
    border-width: 2px;
  ">
  <nav class="nav_outer">
    <div class="nav_inner2">
      <button id="/" type="button" class="btn navBT active" onclick="location.href='/'">
        exCGen
      </button>

      <a href="#">|</a>

      <button id="/tools" type="button" class="btn navBT" onclick="location.href='/tools'">
        Text_editor
      </button>
    </div>
  </nav>
</div>

<script>
  // Set the pressed effect for tab-style buttons
  var link = document.location.href; // Get the current page address
  var pos = link.indexOf("/", link.indexOf("/") + 2);
  // Return the position of '/' that appears after 'http://'
  var get_link = link.substring(pos); // Get the string after and including '/'

  var btns = document.querySelectorAll(".btn");
  btns.forEach(function (btn, i) {
    if (get_link == btn.id) {
      btn.classList.add("active");
    } else {
      btn.classList.remove("active");
    }
  });
</script>